@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 188 67% 93%;
    --foreground: 222 84% 10%;
    --card: 0 0% 100%;
    --card-foreground: 222 84% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 84% 10%;
    --primary: 187 68% 59%;
    --primary-foreground: 222 84% 10%;
    --secondary: 187 30% 88%;
    --secondary-foreground: 222 84% 10%;
    --muted: 187 30% 88%;
    --muted-foreground: 222 20% 45%;
    --accent: 122 39% 49%;
    --accent-foreground: 122 60% 95%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 187 20% 80%;
    --input: 0 0% 100%;
    --ring: 187 68% 59%;
    --chart-1: 187 70% 50%;
    --chart-2: 122 40% 50%;
    --chart-3: 43 74% 66%;
    --chart-4: 27 87% 67%;
    --chart-5: 197 37% 24%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 100%;
    --sidebar-foreground: 222 84% 10%;
    --sidebar-primary: 187 68% 59%;
    --sidebar-primary-foreground: 222 84% 10%;
    --sidebar-accent: 188 67% 93%;
    --sidebar-accent-foreground: 222 84% 10%;
    --sidebar-border: 187 20% 88%;
    --sidebar-ring: 187 68% 59%;
  }

  .dark {
    --background: 200 25% 12%;
    --foreground: 190 60% 95%;
    --card: 200 25% 15%;
    --card-foreground: 190 60% 95%;
    --popover: 200 25% 12%;
    --popover-foreground: 190 60% 95%;
    --primary: 187 68% 59%;
    --primary-foreground: 222 84% 10%;
    --secondary: 200 25% 20%;
    --secondary-foreground: 190 60% 95%;
    --muted: 200 25% 20%;
    --muted-foreground: 190 20% 65%;
    --accent: 122 39% 49%;
    --accent-foreground: 122 60% 95%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 200 25% 22%;
    --input: 200 25% 22%;
    --ring: 187 68% 59%;
    --chart-1: 187 70% 50%;
    --chart-2: 122 40% 50%;
    --chart-3: 43 74% 66%;
    --chart-4: 27 87% 67%;
    --chart-5: 197 37% 24%;
    --sidebar-background: 200 25% 10%;
    --sidebar-foreground: 190 60% 95%;
    --sidebar-primary: 187 68% 59%;
    --sidebar-primary-foreground: 222 84% 10%;
    --sidebar-accent: 200 25% 15%;
    --sidebar-accent-foreground: 190 60% 95%;
    --sidebar-border: 200 25% 15%;
    --sidebar-ring: 187 68% 59%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
